.App {
  text-align: center;
}

/*
This is for DisplayRecipe.j
*/

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.8em;
  row-gap: 0.8em;
  border-style: groove;
  margin: 1em;
  border-radius: 10px;
  padding: 0.2em;
}

.card-class {
  width: 21rem;
}
.card-class h6 {
  color: rgb(13, 109, 109);
}

.list {
  text-align: start;
}

.title {
  color: #26cec5;
}

/*
This is for Header.js
*/

.header {
  border-style: groove;
  margin: 1em;
  border-radius: 10px;
}

.header p {
  margin: 1em;
  color: rgb(5, 102, 119);
}
.header h1 {
  color: #309b84;
}

/*
This is for Body.js
*/

.form {
  border: 2px solid rgb(238, 238, 238);
  margin: 1em;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
}

.form input {
  padding: 0.2em;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 25%;
  margin-right: 0.3em;
}

.form button {
  padding: 0.2em;
  border: none;
  background-color: #309b84;
  color: #fff;
  border-radius: 10px;
  width: 13%;
}
