.App {
  text-align: center;
}

/*
This is for DisplayRecipe.j
*/

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.8em;
  row-gap: 0.8em;
  margin-left: 1.8em;
  padding: 0.2em;
}
@media (max-width: 1500px) {
  .cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .cards {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 741px) {
  .cards {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
  }
}

.card-class {
  width: 21rem;
  border-style: groove;
  border-radius: 2em;
}
.card-class h6 {
  color: rgb(13, 109, 109);
}

.list {
  text-align: start;
}

.title {
  color: #26cec5;
}

/*
This is for Header.js
*/
.header {
  margin: 1em;
}
.header p {
  margin: 1em;
  color: rgb(5, 102, 119);
}
.header h1 {
  color: #309b84;
}

/*
This is for Body.js
*/

.form {
  margin: 1em;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
}

.form input {
  padding: 0.2em;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 25%;
  margin-right: 0.3em;
}

.form button {
  padding: 0.2em;
  border: none;
  background-color: #309b84;
  color: #fff;
  border-radius: 10px;
  width: 13%;
}

#load_status {
  font-size: 1.5em;
  color: rgb(5, 102, 119);
}
